<% if !defined?(current_user) || current_user.blank? -%>
	<%= link_to 'Login', new_session_path %>
	<%= link_to 'Register', new_user_path %>
<% else -%>
	<p>
		Welcome <%= current_user.name %>!
		
		<%= link_to 'Home', :controller => '/main' %>
		<%= link_to 'My Events', :controller => '/member/events' %>
		<%= link_to 'My Account', :controller => '/member/accounts' %>
		<%= 'Calendar' %>
		<%= 'Member List' %>
		<%= link_to "Log out", logout_path, { :title => "Log out" }   %>
	</p>
<% end -%>