<h1>My Events</h1>

<%= error_messages_for :signup %>

<h2>Sign-ups</h2>

<% if @user_signups.present? -%>
	<table>
		<tr>
			<th>Event Name</th>
			<th>Event Type</th>
			<th>Event Date</th>
			<th>Attendees</th>
		</tr>
		<% @user_signups.each do |signup| -%>
			<tr>
				<td><%= link_to h(signup.signupable.name), :controller => '/events', :action => :show, :id => signup.signupable.id %></td>
				<td><%=h signup.signupable.event_type.name %></td>
				<td><%= event_date(signup.signupable) %></td>
				<td><%= link_to h(signup.signupable.users.count), :controller => '/member/events', :action => :attendance, :id => signup.signupable.id %></td>
			</tr>
		<% end -%>
	</table>
<% else -%>
	<em>You have not signed up for any upcoming events.</em>
<% end -%>

<h2>Created Events</h2>

<p><%= link_to 'Create an Event', :controller => '/member/events', :action => :new %></p>

<% if @user_events.present? -%>
		<table>
		<tr>
			<th>Event Name</th>
			<th>Event Type</th>
			<th>Event Date</th>
			<th>Attendees</th>
			<th>Options</th>
		</tr>
		<% @user_events.each do |event| -%>
			<tr>
				<td><%=link_to h(event.name), :controller => '/events', :action => :show, :id => event.id %></td>
				<td><%=h event.event_type.name %></td>
				<td><%= event_date(event) %></td>
				<td><%= link_to h(event.users.count), :controller => '/member/events', :action => :attendance, :id => event.id %></td>
				<td>
					<%= link_to 'Edit', :controller => '/member/events', :action => :edit, :id => event.id %>
					<%= link_to 'Event Games', :controller => '/member/event_games', :event_id => event.id %>
				</td>
			</tr>
		<% end -%>
<% else -%>
	<em>You have no upcoming events.</em>
<% end -%>