<h1><%= @event.name %></h1>

<p>
	<% if current_user && current_user.signed_up?(@event) -%>
		<em>You are signed up for this event!</em>
	<% else -%>
		<%= link_to 'Sign Up!', :controller => '/member/events', :action => :signup, :id => @event.id %>
	<% end -%>
</p>

<table border="1" cellspacing="4px" cellpadding="4px" border="1">
	<tr>
		<td>Created By</td>
		<td><%=h @event.creator.name %></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="2"><%=h @event.info %></td>
	</tr>
	<tr>
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr>
		<td>Event Type</td>
		<td><%=h @event.event_type.name %></td>
	</tr>
	<tr>
		<td>Official EFL Event?</td>
		<td><%= @event.is_official ? 'Yes' : 'No' %></td>
	</tr>
	<tr>
		<td>Starts At</td>
		<td><%= @event.start_at.to_s :date_time12 %></td>
	</tr>
	<% if @event.end_at.present? -%>
		<tr>
			<td>Ends At</td>
			<td><%= @event.end_at.to_s :date_time12 %></td>
		</tr>
	<% end -%>
	<tr>
		<td>Fee</td>
		<td><%= money_format(@event.fee, '$', true) %></td>
	</tr>
	<% if @event.fee > 0 -%>
		<tr>
			<td>Casuals Free?</td>
			<td><%= @event.charge_casual ? 'No' : 'Yes' %></td>
		</tr>
	<% end -%>
	<tr>
		<td colspan="2">
			<fieldset>
				<legend>Venue</legend>
				<% if !@event.venue.public && current_user.nil? -%>
					Login to see venue information
				<% else -%>		
					<table>
						<tr>
							<td><%= @event.venue.name %></td>
						</tr>
						<tr>
							<td><%= @event.venue.address1 %></td>
						</tr>
						<% if @event.venue.address2.present? -%>
							<tr>
								<td><%= @event.venue.address2 %></td>
							</tr>
						<% end -%>
						<tr>
							<td>
								<%= @event.venue.city %>, 
								<%= @event.venue.state.abbreviation %>
								<%= @event.venue.postal_code %>
							</td>
						</tr>
						<% if @event.venue.phone.present? -%>
							<tr>
								<td><%= @event.venue.phone %></td>
							</tr>
						<% end -%>
						<% if @event.venue.info.present? -%>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td>Additional Information:</td>
							</tr>
							<tr>
								<td><%= @event.venue.info %></td>
							</tr>
						<% end -%>
					</table>
				<% end -%>
			</fieldset>
		</td>
	</tr>
</table>

<% if @event.event_games.present? -%>
	<fieldset>
		<legend>Event Games</legend>
		<table>
			<tr>
				<th>Game</th>
				<th>Platform</th>
				<th>Fee</th>
				<th>Starts At</th>
				<th>Ends At</th>
				<th>Information</th>
				<% if current_user && current_user.signed_up?(@event) -%>
					<th>Status</th>
				<% end -%>
			</tr>
			<% @event.event_games.each do |event_game| -%>
				<tr>
					<td><%=h event_game.game.name %></td>
					<td><%=h event_game.platform.name %></td>
					<td><%=h money_format(event_game.fee, '$', true) %></td>
					<td><%= event_game.start_at.to_s :date_time12 if event_game.start_at.present? %></td>
					<td><%= event_game.end_at.to_s :date_time12 if event_game.end_at.present? %></td>
					<td><%=h event_game.info %></td>
					<% if current_user && current_user.signed_up?(@event) -%>
						<td>
							<% if current_user.signed_up?(event_game) -%>
								Enrolled
							<% else -%>
								<%= link_to 'Sign Up for this Game', :controller => '/member/event_games', :action => :signup, :id => event_game.id %></td>
							<% end -%>
						</td>
					<% end -%>
				</tr>
			<% end -%>
		</table>
	</fieldset>
<% end -%>