<h2>Change Password for <%= @user.login %></h2>

<% form_for :user, :url => {:controller => '/admin/users', :action => :update_password, :id => @user.id} do |f| %>
	<%= f.error_messages %>
	<table>
		<tr>
			<td>New Password</td>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<td>Confirm New Password</td>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= f.submit %></td>
		</tr>
	</table>		
<% end -%>