<h1>Xbox Live! Members</h1>

<table cellspacing="4px" cellpadding="4px" border="1">
	<tr>
		<th>Username</th>
		<th>Name</th>
		<th>City</th>
		<th>State</th>
		<th>XBL Gamertag</th>
	</tr>
	<% @users.each do |user| -%>
		<tr>
			<td><%=h user.login %></td>
			<td><%=h user.name %></td>
			<td><%=h user.user_profile.city %>&nbsp;</td>
			<td>
				<% if user.user_profile.state.present? -%>
					<%=h user.user_profile.state.name %>
				<% end -%>&nbsp;
			</td>
			<td><%=h user.user_profile.username_xbox360 %></td>
		</tr>
	<% end -%>
</table>