<%= render :partial => 'layouts/shared/header' %>
<body>
	<%= render :partial => 'layouts/shared/session_admin' %>
	<%= render :partial => 'layouts/shared/flash' %>
	
	<h1>Administration</h1>
	
	<%= yield %>
</body>
<%= render :partial => 'layouts/shared/footer' %>