<%= render :partial => 'layouts/shared/header' %>
<body>
	<%= render :partial => 'layouts/shared/session' %>
	<%= render :partial => 'layouts/shared/nav/my_account' %>
	<%= render :partial => 'layouts/shared/flash' %>
	
	<%= yield %>
</body>
<%= render :partial => 'layouts/shared/footer' %>